<h1>[テキスト]テキストティッカー</h1>
<div id="main">
  <ul class="tickerList">
    <li>jQueryを使用する場合、必ずと言ってもよい程、セレクタを使用します。html要素を次のような形式で選択することで要素がjQueryオブジェクトとして返ってきます。この機能をセレクタと呼びます。</li>
    <li>$()という関数の引数の中に、html要素を入れることで、その要素をセレクタとして使用することができます。</li>
    <li>親要素を指定して選択、隣接している直前の要素を指定して選択または、直前の要素を指定してそれ以降の要素を選択など、階層で指定しているセレクタを階層セレクタと呼びます。</li>
    <li>セレクタを使用する場合は、jQueryへのアクセスをできるだけ少ない回数にすることがパフォーマンスの向上に繋がります。</li>
    <li>実務では、class指定をしなければならない状況になる場面もあると思いますが、できる限りid指定でセレクタを取得することが望ましいです。</li>
  </ul>
</div>

<h1>[テキスト]自動カーニング</h1>
<div id="main">
  <dl>
    <dt>吹くからに 秋の草木の しをるれば むべ山風を あらしといふらむ</dt>
    <dd class="kerning">山風が吹きおろしてくると、たちまち秋の草や木が萎れてしまうので､きっと山風のことを「嵐（荒らし）」いうのだろう｡</dd>
  </dl>
  <dl>
    <dt>逢ふことの 絶えてしなくば なかなかに 人をも身をも 恨みざらまし</dt>
    <dd class="kerning">あなたと会うことが一度もなかったのならば、むしろあなたのつれなさも、わたしの身の不幸も、こんなに恨むことはなかったでしょうに。（あなたに会ってしまったばっかりに、この苦しみは深まるばかりです）</dd>
  </dl>
  <dl>
    <dt>風そよぐ ならの小川の 夕暮は みそぎぞ夏の しるしなりける</dt>
    <dd class="kerning">風がそよそよと楢（なら）の葉を吹きわたるこの奈良（なら）の小川の夕方は､（もうすっかりと秋のような気配だが）川辺の禊祓（みそぎはらい）を見ると､まだ夏であるのだなぁ｡</dd>
  </dl>
</div>

<h1>[テキスト]タイピング風に１文字ずつ表示</h1>
<div id="main">
  <dl>
    <dt class="animate_txt">吹くからに 秋の草木の しをるれば むべ山風を あらしといふらむ</dt>
    <dd class="animate_txt">山風が吹きおろしてくると、たちまち秋の草や木が萎れてしまうので､きっと山風のことを「嵐（荒らし）」いうのだろう｡</dd>
  </dl>
  <dl>
    <dt class="animate_txt">逢ふことの 絶えてしなくば なかなかに 人をも身をも 恨みざらまし</dt>
    <dd class="animate_txt">あなたと会うことが一度もなかったのならば、むしろあなたのつれなさも、わたしの身の不幸も、こんなに恨むことはなかったでしょうに。（あなたに会ってしまったばっかりに、この苦しみは深まるばかりです）</dd>
  </dl>
  <dl>
    <dt class="animate_txt">風そよぐ ならの小川の 夕暮は みそぎぞ夏の しるしなりける</dt>
    <dd class="animate_txt">風がそよそよと楢（なら）の葉を吹きわたるこの奈良（なら）の小川の夕方は､（もうすっかりと秋のような気配だが）川辺の禊祓（みそぎはらい）を見ると､まだ夏であるのだなぁ｡</dd>
  </dl>
</div>
