<h1>[モーダルウィンドウ]画像の表示</h1>
<ul id="photos">
  <li><%= link_to(image_tag("8-1/tn0.jpg"),asset_path("8-1/tn0.jpg")) %> </li>
  <li><%= link_to(image_tag("8-1/tn1.jpg"),asset_path("8-1/tn1.jpg")) %> </li>
  <li><%= link_to(image_tag("8-1/tn2.jpg"),asset_path("8-1/tn2.jpg")) %> </li>
  <li><%= link_to(image_tag("8-1/tn3.jpg"),asset_path("8-1/tn3.jpg")) %> </li>
</ul>
