<h1>[フォーム]テキストやテキストエリアの未入力チェック</h1>
<div>
  <form id="myForm" method="get" action="/jquery_sample/jquery_sample_form">
    <table>
      <tr>
        <th><label for="formName">名前 <span class="ind">必須</span></label></th>
        <td><input type="text" name="formName" id="formName"></td>
      </tr>
      <tr>
        <th><label for="formFurigana">ふりがな <span class="ind">必須</span></label></th>
        <td><input type="text" name="formFurigana" id="formFurigana"></td>
      </tr>
      <tr>
        <th><label for="formTell">電話番号 <span class="ind">必須</span></label></th>
        <td><input type="text" name="formTell" id="formTell"></td>
      </tr>
      <tr>
        <th><label for="formMail">メールアドレス <span class="ind">必須</span></label></th>
        <td><input type="text" name="formMail" id="formMail"></td>
      </tr>
      <tr>
        <th><label for="formInquiry">お問い合わせ内容 <span class="ind">必須</span></label></th>
        <td><textarea rows="9" name="formInquiry" id="formInquiry"></textarea></td>
      </tr>
    </table>
    <p><input type="submit" value="送信内容を確認する"></p>
  </form>
</div>

<h1>[フォーム]テキストやテキストエリアのリアルタイム入力チェック</h1>
<div>
  <form id="myForm2" method="get" action="/jquery_sample/jquery_sample_form">
    <table>
      <tr>
        <th><label for="formName">名前 <span class="ind">必須</span></label></th>
        <td><input type="text" name="formName2" id="formName2"></td>
      </tr>
      <tr>
        <th><label for="formFurigana">ふりがな <span class="ind">必須</span></label></th>
        <td><input type="text" name="formFurigana2" id="formFurigana2"></td>
      </tr>
      <tr>
        <th><label for="formTell">電話番号 <span class="ind">必須</span></label></th>
        <td><input type="text" name="formTell2" id="formTell2"></td>
      </tr>
      <tr>
        <th><label for="formMail">メールアドレス <span class="ind">必須</span></label></th>
        <td><input type="text" name="formMail2" id="formMail2"></td>
      </tr>
      <tr>
        <th><label for="formInquiry">お問い合わせ内容 <span class="ind">必須</span></label></th>
        <td><textarea rows="9" name="formInquiry2" id="formInquiry2"></textarea></td>
      </tr>
    </table>
    <p><input type="submit" value="送信内容を確認する"></p>
  </form>
</div>
