<h1>[アニメーション]フェードイン/フェードアウト</h1>
<p id="photo"><img src="http://placehold.it/300/33cc66/000000"></p>

<h1>[アニメーション]スライド（座標移動）</h1>
<div class="photo2">
  <p id="photo2"><img src="http://placehold.it/300/ff6666/000000"></p>
</div>

<h1>[アニメーション]コマアニメーション</h1>
<p id="pic-box"><img src="http://placehold.it/500/3366cc/000000" width="3641" height="984" id="pic"></p>

<h1>[アニメーション]画像の自動切り替え</h1>
<ul id="photolist">
  <li><img src="http://placehold.it/100/3366cc/000000"></li>
  <li><img src="http://placehold.it/100/33cc66/000000"></li>
  <li><img src="http://placehold.it/100/ff6666/000000"></li>
  <li><img src="http://placehold.it/100/ffffff/000000"></li>
</ul>

<h1>[メインビジュアル]サムネイル画像のクリックによる画像の切り替え</h1>
<div id="photoBox">
  <ul id="photolist2">
    <li><img src="http://placehold.it/300/3366cc/000000"></li>
    <li><img src="http://placehold.it/300/33cc66/000000"></li>
    <li><img src="http://placehold.it/300/ff6666/000000"></li>
    <li><img src="http://placehold.it/300/ffffff/000000"></li>
  </ul>
  <div id="tnlist">
    <ul>
      <li><a><img src="http://placehold.it/100/3366cc/000000"></a></li>
      <li><a><img src="http://placehold.it/100/33cc66/000000"></a></li>
      <li><a><img src="http://placehold.it/100/ff6666/000000"></a></li>
      <li><a><img src="http://placehold.it/100/ffffff/000000"></a></li>
    </ul>
  </div>
</div>
