<h1>テーブルの表示を格好良く</h1>
<div class="container">
  <h1>テーブルの例</h1>
  <div class="table-responsive">
  <table class="table table-striped table-hover">
    <tr>
      <th>注文番号</th><th>注文者氏名</th><th>注文者電話番号</th>
      <th>注文金額</th><th>ステータス</th><th>操作</th>
    </tr>
    <tr class="warning">
      <td>100</td><td>山田三郎</td><td>03-1234-5678</td>
      <td class="text-right">¥ 5,000</td><td>注文中</td><td><a href="#">詳細</a></td>
    </tr>
    <tr>
      <td>101</td><td>鈴木史朗</td><td>03-2345-6789</td>
      <td class="text-right">¥ 15,000</td><td>入金待ち</td><td><a href="#">詳細</a></td>
    </tr>
    <tr>
      <td>102</td><td>田中五郎</td><td>03-3456-7890</td>
      <td class="text-right">¥ 32,000</td><td>発送中</td><td><a href="#">詳細</a> </td>
    </tr>
    <tr class="success">
      <td>103</td><td>加藤六輔</td><td>03-4567-8901</td>
      <td class="text-right">¥ 30,000</td><td>発送完了</td><td><a href="#">詳細</a></td>
    </tr>
  </table>
  </div>
</div>

<h1>ページングのためのコントロール</h1>
<h2>ページネーション</h2>
<div class="container">
  <ul class="pagination">
    <li><a href="#">&laquo;</a> </li>
    <li><a href="#">1</a> </li>
    <li><a href="#">2</a> </li>
    <li><a href="#">3</a> </li>
    <li><a href="#">&raquo;</a> </li>
  </ul>
</div>
<div class="container">
  <ul class="pagination">
    <li><a href="#">&laquo;</a> </li>
    <li><a href="#">1</a> </li>
    <li><a href="#">2</a> </li>
    <li class="active"><a href="#">3</a> </li>
    <li class="disabled"><a href="#">&raquo;</a> </li>
  </ul>
</div>
<div class="container">
  <ul class="pagination pagination-lg">
    <li><a href="#">&laquo;</a> </li>
    <li><a href="#">1</a> </li>
    <li><a href="#">2</a> </li>
    <li class="active"><a href="#">3</a> </li>
    <li class="disabled"><a href="#">&raquo;</a> </li>
  </ul>
</div>
<div class="container">
  <ul class="pagination pagination-sm">
    <li><a href="#">&laquo;</a> </li>
    <li><a href="#">1</a> </li>
    <li><a href="#">2</a> </li>
    <li class="active"><a href="#">3</a> </li>
    <li class="disabled"><a href="#">&raquo;</a> </li>
  </ul>
</div>

