<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">タイトル</h4>
        </div>
        <div class="modal-body">
            <p>本文本文。</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal">閉じる</button>
        </div>
    </div>
</div>
