<body data-spy="scroll" data-toggle="#navbar">
<div class="container">
  <!-- ヘッダー -->
  <h1 class="page-header" style="height:100px">タイトル</h1>

  <!-- コンテンツ -->
  <div class="row">
    <!-- ナビゲーションバー -->
    <div class="col-xs-4">
      <!-- Affixコントロール -->
      <div id="myaffix" style="width:200px"
           data-spy="affix" data-offset-top="100" data-offset-bottom="300">
        <!-- ナビゲーションバー -->
        <div id="navbar">
          <ul class="nav nav-tabs nav-stacked">
            <li class="active"><a href="#content1">見出し1</a> </li>
            <li><a href="#content2">見出し2</a> </li>
            <li><a href="#content3">見出し3</a> </li>
          </ul>
        </div>

      </div>
    </div>

    <!-- コンテンツ -->
    <div class="col-xs-8">
      <h2 id="content1">見出し1</h2>
      コンテンツテスト<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      <h2 id="content2">見出し2</h2>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      <h2 id="content3">見出し3</h2>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
      ・・・・<br>
    </div>
  </div>

  <!-- フッター -->
  <div class="panel-footer" style="height: 50px" id="myfooter">フッター</div>
</div>
</body>
