<h1>Canvasを利用してロゴを作る</h1>
<canvas width="640" height="120" id="myCanvas"></canvas>

<h1>Canvasを利用したダミー画像を生成する</h1>
<div class="dummy">320x240</div>
<span class="dummy">120x240</span>
<span class="dummy">240x240</span>
<span class="dummy">120x240</span>

<h1>Canvasを利用した角丸フキダシを作る</h1>
<div class="balloon">フキダシ表示</div>
<div class="balloon">フキダシですよ<br>フキダシでした</div>
